.m-wrap {
    z-index: 2;
    position: relative;
    background-color:rgba(0, 0, 0, 0.95);
    width: 640px;
    height: 380px;
    border-radius: 10px;
    overflow: hidden;
    background: rgba( 0, 0, 0, 0.9 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.m-head {
    height: 72px;
    box-sizing: border-box;
    padding: 1.5rem;
    h1 {
        font-size: 1.15em;
        font-weight: 500;
    }
}

.m-body {
    height: calc(100% - 72px);
    position: relative;
    display: flex;
}

.m-body-options {
    width: 230px;
    display: flex;
    box-sizing: border-box;
    padding-bottom: 1.5rem;
    hr {
        width: 2px;
        outline: none;
        border: none;
        height: calc(100% - 1.5rem);
        background-color: #252525;
        margin: 0;
        margin-left: 1.5rem;
        position: absolute;
        z-index: 2;
    }
}

.m-body-options-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.m-body-options-head {
    margin-left: 2.25rem;
    font-size: .63em;
    color: #8c8c8c !important;
    font-weight: 300;
    p {
        color: #8c8c8c;
    }
}

.m-item {
    padding-left: 2.5rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
    p {
        font-size: .76em;
    }
    svg {
        width: 20px;
        height: 20px;
        margin-right: .5rem;
        fill: #fff;
        z-index: 1;
        transition: all 0.5s ease;
    }
    .m-item-placeholder {
        background: linear-gradient(to right, #a0bfff, #ddb0ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        width: 5px;
        position: absolute;
        left: .5rem;
        top: 0;
        height: 100%;
        border-radius: 10px;
        transition: opacity 0.35s ease;
    }
}

.m-body-content {
    width: calc(100% - 230px);
    padding-right: 1.5rem;
    padding-bottom: 1.5rem;
    box-sizing: border-box;
    display: flex;
    position: relative;
    flex-wrap: wrap;
    gap: 3% 3%;
}

.m-body-content-item {
    cursor: pointer;
    width: 47%;
    height: 47%;
    border-radius: 10px;
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    box-sizing: border-box;
    padding: .5rem;
    h3 {
        font-weight: 500;
        font-size: 0.75em;
        margin-bottom: 0.25rem;
        z-index: 1;
    }
    p {
        font-size: 0.6em;
        z-index: 1;
        color: #767676;
    }

    &::after {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        background: linear-gradient(
            0deg,
            rgba(7, 7, 7, .9) 0%,
            rgba(8, 8, 8, 0.6) 50%,
            rgba(15, 15, 15, 0) 150%
        );
        border-radius: 8px;
    }
}