@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500&display=swap");
.m-wrap {
  z-index: 2;
  position: relative;
  background-color: rgba(0, 0, 0, 0.95);
  width: 640px;
  height: 380px;
  border-radius: 10px;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.9);
  -webkit-box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
          box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.m-head {
  height: 72px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 1.5rem;
}

.m-head h1 {
  font-size: 1.15em;
  font-weight: 500;
}

.m-body {
  height: calc(100% - 72px);
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.m-body-options {
  width: 230px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-bottom: 1.5rem;
}

.m-body-options hr {
  width: 2px;
  outline: none;
  border: none;
  height: calc(100% - 1.5rem);
  background-color: #252525;
  margin: 0;
  margin-left: 1.5rem;
  position: absolute;
  z-index: 2;
}

.m-body-options-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.m-body-options-head {
  margin-left: 2.25rem;
  font-size: .63em;
  color: #8c8c8c !important;
  font-weight: 300;
}

.m-body-options-head p {
  color: #8c8c8c;
}

.m-item {
  padding-left: 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  position: relative;
}

.m-item p {
  font-size: .76em;
}

.m-item svg {
  width: 20px;
  height: 20px;
  margin-right: .5rem;
  fill: #fff;
  z-index: 1;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.m-item .m-item-placeholder {
  background: -webkit-gradient(linear, left top, right top, from(#a0bfff), to(#ddb0ff));
  background: linear-gradient(to right, #a0bfff, #ddb0ff);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  width: 5px;
  position: absolute;
  left: .5rem;
  top: 0;
  height: 100%;
  border-radius: 10px;
  -webkit-transition: opacity 0.35s ease;
  transition: opacity 0.35s ease;
}

.m-body-content {
  width: calc(100% - 230px);
  padding-right: 1.5rem;
  padding-bottom: 1.5rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 3% 3%;
}

.m-body-content-item {
  cursor: pointer;
  width: 47%;
  height: 47%;
  border-radius: 10px;
  background-size: cover;
  background-position: center;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: .5rem;
}

.m-body-content-item h3 {
  font-weight: 500;
  font-size: 0.75em;
  margin-bottom: 0.25rem;
  z-index: 1;
}

.m-body-content-item p {
  font-size: 0.6em;
  z-index: 1;
  color: #767676;
}

.m-body-content-item::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(7, 7, 7, 0.9)), color-stop(50%, rgba(8, 8, 8, 0.6)), color-stop(150%, rgba(15, 15, 15, 0)));
  background: linear-gradient(0deg, rgba(7, 7, 7, 0.9) 0%, rgba(8, 8, 8, 0.6) 50%, rgba(15, 15, 15, 0) 150%);
  border-radius: 8px;
}

body, h1, h2, h3, h4, h5, h6, p, input, button, hr {
  font-family: "Inter", sans-serif;
  margin: 0;
  font-size: 20px;
  color: #fff;
}

.app {
  width: 100vw;
  height: 100vh;
  background-image: url("https://images.unsplash.com/photo-1500817904307-e664893dcbab?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1350&q=80");
  background-size: cover;
  background-position: center;
  z-index: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.app::after {
  z-index: 1;
  top: 0;
  content: "";
  width: inherit;
  height: inherit;
  position: absolute;
  -webkit-backdrop-filter: blur(30px);
          backdrop-filter: blur(30px);
  background: #B993D6;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#8ca6db3d), to(#b993d6dc));
  background: linear-gradient(to right, #8ca6db3d, #b993d6dc);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
/*# sourceMappingURL=styles.css.map */